<!DOCTYPE html>
<html>
<head>
  <title>Create Recipe</title>
</head>
<body>
  <p>* Indicates required fields</p>
  <div style="white-space: pre-line;">
    <form action="/create" method="post">
      <label for="name">Name *</label>
      <input type="text" id="name" name="name" required>
      <label for="tags">Tags</label>
      <input type="text" id="tags" name="tags">
      <label for="reference">Reference</label>
      <input type="text" id="reference" name="reference">
      <label for="servings">Servings</label>
      <input type="text" id="servings" name="servings">
      <label for="ingredients">Ingredients (formatted as "200 grams : flour, sifted")</label>
      <textarea id="ingredients" name="ingredients"></textarea>
      <label for="method">Method</label>
      <textarea id="method" name="method"></textarea>
      <label for="suggestions">Suggestions</label>
      <textarea id="suggestions" name="suggestions"></textarea>
      <label for="modifications">Modifications</label>
      <textarea id="modifications" name="modifications"></textarea>
      <input type="submit" value="Submit">
    </form>
  </div>
</body>
</html>